.footer {
  width: 100%;
  margin-top: 9rem;
  padding: 5rem 0 3rem 0;

  color: white;
  background-color: var(--primary);
}
.footer__wrapper {
  display: grid;
  grid-template-areas:
    "logo"
    "nav"
    "info"
    "form"
    "socials"
    "line"
    "bottom";
  justify-items: center;
  text-align: center;
  row-gap: 3.7rem;
}
.footer__logo-link {
  width: 100%;
  grid-area: logo;
}
.footer__logo {
  width: 14.4rem;
  fill: white;
  &:hover,
  &:focus {
    fill: var(--accent);
  }
}
.footer__nav {
  grid-area: nav;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer__nav-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: white;

  transition: color 0.3s ease;

  &:hover,
  &:focus {
    color: var(--accent);
    text-decoration: underline;
  }
}

.footer__info {
  grid-area: info;
}
.footer__heading {
  color: black;
}
.footer__info-content {
  margin-top: 3.7rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer__text {
  line-height: 1;
  justify-content: center;
  text-align: center;
}
.footer__text-link {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.footer__form {
  grid-area: form;

  width: 100%;
  max-width: 63.4rem;
  margin: 0 auto;

  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.2rem;

  border-radius: 1.4rem;
  background-color: var(--primary-light);
}

.footer__input {
  font-size: 1.6rem;
  line-height: 1.5;

  padding: 2.1rem 2.5rem;
  width: 100%;

  border-radius: 1.4rem;
  border: 0.1rem solid white;
  background-color: var(--primary-light);
  color: var(--primary);
  caret-color: var(--accent);
  transition: color 0.3s ease-in-out;
  &::placeholder {
    color: white;
    opacity: 0.8;
  }
  &:focus {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}

.footer__btn {
  width: 100%;
  text-wrap: nowrap;
}
.footer__socials {
  grid-area: socials;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer__social {
  display: flex;
}
.footer__social-link {
  display: flex;
  width: 3rem;
  height: 3rem;
}

.footer__social-icon {
  aspect-ratio: 1/1;

  fill: white;
  transition: fill 0.3s ease;

  &:hover,
  &:focus {
    fill: var(--accent);
  }
}
.footer__line {
  grid-area: line;

  width: 100%;
  height: 0.1rem;
  background-color: white;
}
.footer__bottom {
  grid-area: bottom;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

@include tablet-above {
  .footer {
    margin-top: 0;
    padding: 0;
    background-color: unset;
  }
  .footer__wrapper {
    margin-top: 7rem;
    padding: 5.5rem 6rem 5rem 6rem;

    display: grid;
    grid-template-areas:
      "logo nav nav nav nav socials"
      "info info form form form form"
      "line line line line line line"
      "bottom bottom bottom bottom bottom bottom";

    row-gap: 5rem;
    column-gap: 1rem;

    border-radius: 4.5rem 4.5rem 0 0;
    background-color: var(--primary);
  }
  .footer__nav {
    flex-direction: row;
    gap: 1.5rem;

    text-decoration: underline;
  }
  .footer__nav-link {
    font-size: 1.8rem;
  }
  .footer__info {
    text-align: start;
  }
  .footer__info-content {
    margin-top: 2.7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
  }
  .footer__text {
    text-align: start;
  }
  .footer__form {
    margin-top: auto;
    margin-right: 0;
    width: 100%;

    padding: 5.8rem 4rem;
    display: flex;
    flex-direction: row;
    gap: 2.2rem;

    border-radius: 1.4rem;
    background-color: var(--primary-light);
  }
  .footer__btn {
    width: fit-content;
  }
  .footer__bottom {
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    gap: 4rem;
  }
  .footer__privacy {
    text-decoration: underline;
  }
}
