.header {
  margin-top: 3rem;
  width: 100%;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.4rem;
}
.header__logo {
  width: 100%;
  max-width: 14.4rem;
}

.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.4rem;

  top: 0; /* header margin */
  left: -90%;
  position: fixed;
  visibility: hidden;
  transition: left 0.3s ease, visibility 0.3s ease;
  will-change: transform;

  width: 30%;
  min-width: 30rem;
  height: 100dvh;
  padding: 3rem 0;

  opacity: 0;
  z-index: var(--z-mobile-menu);

  background: var(--primary);
  color: var(--secondary);
}
.header__nav.active {
  left: 0;
  visibility: visible;
  opacity: 1;
}
.header__nav.closing {
  left: -90%;
  opacity: 0;
  visibility: visible;
  transition: left 0.3s ease, opacity 0.3s ease;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 100%;
  height: 100%; /* 44px gap and 65px btn h */
  font-size: 2rem;
  line-height: 1.4; /* 28px */
  letter-spacing: 0;
}
.nav__link {
  width: 100%;
  flex-shrink: 0;

  text-align: center;
  text-decoration: none;
  color: var(--secondary);
  transition: color 0.5s ease;
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
    color: var(--accent);
  }
}

.header__btn {
  @include mobile {
    border: 1px solid white;
    color: white;
    &:hover,
    &:focus {
      background-color: white;
      color: var(--primary);
    }
  }
  @include mobile-above {
    padding: 1rem 1.75rem;
    font-size: 1.6rem;
  }
  @include desktop-above {
    font-size: var(--size-btn);
    padding: 1.9rem 3.4rem;
  }
}

.header__burger {
  @include reset-button;
  position: relative;

  width: 2.6rem;
  height: 1.8rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  transition: transform 0.4s ease;
  will-change: transform;

  z-index: var(--z-mobile-menu);
}
.header__burger-line {
  display: block;
  height: 0.2rem;
  border-radius: 0.2rem;
  background-color: black;
  transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
}
.header__burger.active {
  transform: rotate(180deg);
}
.header__burger.active .header__burger-line {
  background-color: var(--accent);
}
/* First bar */
.header__burger.active .header__burger-line:nth-child(1) {
  transform: translateY(0.8rem) rotate(45deg);
}
/* Middle bar */
.header__burger.active .header__burger-line:nth-child(2) {
  transform: scaleX(0);
  opacity: 0;
}
/* Last bar */
.header__burger.active .header__burger-line:nth-child(3) {
  transform: translateY(-0.8rem) rotate(-45deg);
}

@include mobile-above {
  .header {
    margin-top: 5.9rem;
  }
  .header__nav,
  .header__nav.active {
    flex-direction: row;
    visibility: visible;

    position: relative;
    top: unset;
    left: unset;

    height: auto;
    width: auto;
    opacity: 1;

    padding: 0;
    gap: 2.2rem;

    background: white;
    color: var(--primary);
  }
  .nav {
    width: fit-content;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.6rem;
  }
  .nav__link {
    width: fit-content;
    color: var(--primary);
  }
  .nav__link:hover,
  .nav__link:active,
  .nav__link:focus {
    color: unset;
  }
  .header__burger {
    display: none;
  }
}
@include desktop-above {
  .header__logo {
    max-width: 22rem;
  }

  .header__nav {
    gap: 4.4rem;
  }
  .nav {
    font-size: 2rem;
    gap: 4rem;
  }
  .nav__link {
    color: var(--primary);
  }
}
