.link {
  display: inline-flex;
  align-items: center;

  text-decoration: none;

  font-size: 2rem;
  column-gap: 1.5rem;
}
// .link__icon {
// }
.link__icon_rounded {
  width: 4.1rem;
  height: 4.1rem;
  border-radius: 50%;
  /* position: relative; */
}
.link__arrow_color-primary {
  --icon-arrow-color: var(--primary);
}
.link__arrow_color-accent {
  --icon-arrow-color: var(--accent);
}
.link__bg_color-primary {
  --icon-bg-color: var(--primary);
}
.link__bg_color-white {
  --icon-bg-color: white;
}
.link__text_color-primary {
  color: var(--primary);
}
.link__text_color-white {
  color: white;
}
.link__text_color-accent {
  color: var(--accent);
}
