.services {
  margin-top: 6rem;
  width: 100%;
  will-change: transform, opacity;
}
.services__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
}
.services__header-text {
  line-height: 1.5;
}

.services__content {
  width: 100%;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 3rem;
}
.services__card {
  position: relative;
  padding: 4.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.7rem;

  border: 1px solid var(--primary);
  border-radius: 4.5rem;
  box-shadow: 0px 5px 0px 0px rgba(25, 26, 35, 1);
}
.services__card_bg-green {
  background-color: var(--accent);
}
.services__card_bg-primary {
  background-color: var(--primary);
}
.services__card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.services__link-text {
  display: none;
}
.services__img {
  max-width: 16.5rem;
  height: auto;
  width: auto;
  object-fit: contain;
}

.services__line {
  margin: 7.5rem auto 0 auto;
}

@include tablet-above {
  .services {
    margin-top: 8.2rem;
  }
  .services__header {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    gap: 3rem;
  }
  .services__header-text {
    line-height: 1.28;
    max-width: 57.3rem;
  }

  .services__content {
    margin-top: 7.5rem;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
  .services__card {
    height: 31rem;
    padding: 5.2rem;
  }
  .services__img {
    position: absolute;
    top: 6.3rem;
    right: 5.2rem;
    max-width: 21rem;
  }
  .services__link-text {
    display: block;
  }
}
