.work {
  width: 100%;
  margin-top: 8rem;
}
.work__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.work__header-title {
  white-space: normal;
  word-break: break-word;
  text-align: center;
}
.work__header-text {
  max-width: 100%;
  text-align: center;
}

.work__list {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.work__accordion {
  /* max-height: 9.2rem; */
  padding: 3rem;
  border-radius: 4.5rem;
  overflow: hidden;

  list-style: none;

  transition: background 0.3s ease, max-height 0.5s ease;
  background: var(--secondary);
  border: 1px solid var(--primary);
  box-shadow: 0px 5px 0px 0px rgba(25, 26, 35, 1);
}
.work__accordion:has(.work__details[open]) {
  background: var(--accent);
}
.work__summary {
  padding-right: 4rem; /* after element size + some gap -> 1rem */
  position: relative;
  display: flex;
  align-items: center;
  gap: 3.3rem;
  cursor: pointer;
  list-style: none;

  -webkit-tap-highlight-color: transparent;

  &::after {
    content: "+";
    position: absolute;
    right: 0;
    top: calc(50% - 1.5rem);
    /* transform: translateY(-50%); */

    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--primary);
    border-radius: 50%;

    background-color: transparent;
    color: var(--primary);

    font-size: 3rem;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    will-change: transform;
  }

  &:hover::after {
    background-color: var(--primary);
    color: var(--secondary);
  }
}

/* Change to "-" when details is open */
.work__details[open] .work__summary::after {
  content: "−"; /* minus sign */
  transform: rotate(180deg);
}

.work__number {
  font-size: 3rem;
  line-height: 1;
  font-weight: 500;
}
.work__heading {
  font-size: 1.8rem;
  font-weight: 500;
}
.work__content {
  max-height: 0rem;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.3s ease;
}
.work__details[open] + .work__content {
  max-height: 40rem;
}

.work__line {
  margin-top: 1.5rem;

  width: 100%;
  height: 1px;
  background-color: var(--primary);
}
.work__text {
  margin-top: 1.5rem;
}
@include mobile-above {
  .mobile-br {
    display: inline;
  }
  .work__list {
    margin-top: 6rem;
    gap: 3rem;
  }
}
@include tablet-above {
  .work__header {
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    gap: 4rem;
  }
  .work__header-text {
    text-align: left;
    max-width: 29.5rem;
  }

  .work__accordion {
    padding: 4.1rem 6rem;
  }
  .work__summary {
    padding-right: 6.8rem; /* after element size + some gap -> 1rem */
    gap: 2.5rem;

    &::after {
      top: calc(50% - 2.9rem);
      width: 5.8rem;
      height: 5.8rem;
      font-size: 5.8rem;
    }
  }
  .work__number {
    font-size: 6rem;
  }
  .work__heading {
    font-size: 3rem;
  }

  .accordion__line {
    margin-top: 3rem;
  }
  .accordion__text {
    margin-top: 3rem;
  }
}
